* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

#canvas_pdf {
    border-width: 1px; border-style: solid;
}

#button_verify, #button_load {
    display: block;
    width: 150px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
}